.add-page{
    /* border: solid 2px red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.add-details {
    /* border: solid 1px red; */
    margin: 0 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-heading {
    font-size: 4rem;
    margin-bottom: 1rem;
}

.add-data {
    /* border: solid 1px red; */
    height: max-content;
    display: flex;
    align-self: flex-start;
    padding: 0.5rem 2rem;
    gap: 1rem;
}

.add-title {
    font-weight: bold;
    font-size: 1rem;
}

.add-input {
    
    /* border: solid 1px red; */
    padding: 0.1rem 0.5rem;
    width: 25rem;
    font-size: 0.7rem;
}

.add-description {
    /* border: solid 1px red; */
    display: block;
}

.add-description .add-title {
    text-align: start;
}


.add-description .add-input {
    margin-top: 1rem;
    width: 50vw;
    height: 10vh;
}



.add-submit-button
{
background: black;
color: white;
padding: 1rem 2rem;
border-radius: 1rem;
font-size: 1rem;
}

.add-submit-button:hover {
    cursor: pointer;
    background: cyan;
    color: black;
}

.productAddMessage{
    color : green
}

.productExistMessage,
.productEmptyMessage{
    color: red;
}

@media screen and (max-width: 500px) {
    .add-input {
        border: solid 1px black;
        padding: 0.1rem 0.5rem;
        width: 5rem;
        font-size: 0.7rem;
    }

    .add-details {
        margin: 0 10rem;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }

    .add-data{
        height: max-content;
        display: flex;
        align-self: center;
        flex-wrap: wrap;
        padding: 0.5rem 2rem;
        gap: 1rem;
    }
}


