* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* border: solid 1px red; */
  height: 100vh;
  font-family: sans-serif;
  line-height: 1.4;
  font-size: 62.5%;
  text-align: center;
}

a {
  color: #333;
  text-decoration: none;
}


.product-container {
  padding: 2rem;
}

.productImage {
  width: 15rem;
  height: 15rem;
}

.btn {
  display: inline-block;
  border: none;
  background: black;
  color: white;
  padding: 0.2rem 2rem;
  cursor: pointer;
}

.btn:hover {
  background: cyan;
  color: black;
}

.header-btn {
  background: black;
  color: white;
}

.header-btn:hover {
  background: cyan;
  color: black;
}

.loaderDisplay,
.emptyErrorDisplay,
.errorDisplay {
  font-weight: bold;
  height: 50vh;
  padding-top: 25vh;
  font-size: x-large;
}

.productDisplay{
  /* border: solid 1px red; */
  display: flex;
  flex-direction: column;
}


.add-button{
  border-radius: 1rem;
  margin: 0;
  padding: 0;
  width: 10rem;
}

.add-product-button{
  border-radius: 0;
  font-size: 1.5rem;
  margin: 1rem;
  align-self: flex-end;
  width: 10rem;
  padding: 0.5rem
}

@media screen and (max-width: 700px) {

  .image-Container {
    height: fit-content;
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .loaderDisplay,
  .emptyErrorDisplay,
  .errorDisplay {
    font-size:medium;
  }

}